.form__name {
    width: 358px;
    height: 27px;
    margin: 43px auto 0;
    border: none;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width: 320px) {
    .form__name {
        width: 238px;
        height: 22px;
    }
}