.form__job {
    width: 358px;
    margin: 43px auto 0;
    border: none;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width: 320px) {
    .form__job {
        width: 238px;
    }
}