.body {
    background-color: #000000;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 45px auto 0;
    width: 68.75%;
    height: 74px;
}

@media screen and (max-width: 320px) {
    .header {
        width: 100%;
        margin-top: 0;
    }
}

.header__logo {
    width: 143px;
    height: 33px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 103px;
        height: 24px;
        padding-left: 27px;
        padding-top: 28px;
    }
}

.header__line {
    border: 1px solid #545454;
    opacity: 0.7;
}

@media screen and (max-width: 320px) {
    .header__line {
        margin-top: 30px;
    }
}

.main {
    margin: 40px auto;
    width: 68.75%;
}

@media screen and (max-width: 320px) {
    .main {
        width: 100%;
    }
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .profile {
        flex-direction: column;
        justify-content: center;
    }
}

.avatar {
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

@media screen and (max-width: 320px) {
    .avatar {
        padding-top: 12px;
    }
}

.profile__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 320px) {
    .profile__header {
        flex-direction: column;
        gap: 25px;
    }
}

.profile__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}

.profile__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding-top: 16px;
}

@media screen and (max-width: 320px) {
    .profile__paragraph {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-top: 8px;
    }
}

.profile__info {
    color: #ffffff;
    margin: 0;
}

.profile__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

@media screen and (max-width: 320px) {
    .profile__line {
        padding-left: 29px;
        gap: 14px;
    }
}

.profile__editbutton {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.5s linear;
    cursor: pointer;
}

.profile__editbutton:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .profile__editbutton {
        width: 18px;
        height: 18px;
    }
}

.profile__addbutton {
    border: 1px solid #ffffff;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s linear;
    cursor: pointer;
}

.profile__addbutton:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .profile__addbutton {
        width: 282px;
        margin-top: 33px;
    }
}

.elements {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width: 320px) {
    .elements {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        width: 282px;
        margin: 34px auto 0;
    }
}

.element {
    border-radius: 10px;
    background-image: url(./images/Rectangle.png);
    width: 282px;
    height: 362px;
}

.element__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.element__header_text {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer {
    margin: 66px auto 0;
    max-width: 68.75%;
}

@media screen and (max-width:320px) {
    .footer {
        margin-top: 45px;
        margin-left: 19px;
    }
}

.footer__copyright {
    color: #545454;
    max-width: 318px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width:320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}

.popup {
    display: none;
}

.popup__overlay {
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.form {
    position: fixed;
    width: 430px;
    height: 330px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    top: 195px;
    left: 425px;
    flex-direction: column;
}

@media screen and (max-width: 320px) {
    .form {
        left: 19px;
        width: 282px;
        height: 322px;
    }
}

.form__header {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 76.744186%;
    padding-top: 34px;
    margin: 0;
    padding-left: 36px;
}

@media screen and (max-width: 320px) {
    .form__header {
        font-size: 18px;
        line-height: 22px;
        padding-left: 22px;
        width: 238px;
        white-space: nowrap;
    }
}

.form__name {
    width: 358px;
    height: 27px;
    margin: 43px auto 0;
    border: none;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width: 320px) {
    .form__name {
        width: 238px;
        height: 22px;
    }
}

.form__job {
    width: 358px;
    height: 27px;
    margin: 43px auto 0;
    border: none;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width: 320px) {
    .form__job {
        width: 238px;
        height: 22px;
    }
}

.form__button {
    width: 358px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    border-radius: 2px;
    color: #ffffff;
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s linear;
}

.form__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .form__button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}

.popup__close-button {
    background-image: url(./images/Close\ Icon.png);
    background-position: center;
    background-color: #000000;
    position: fixed;
    top: 155px;
    left: 855px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    transition: 0.5s linear;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .popup__close-button {
        left: 273px;
        width: 26px;
        height: 26px;
    }
}

.popup__opened {
    display: block;
}

.element__header_like {
    cursor: pointer;
    transition: 0.5s linear;
    width: 20px;
    height: 18px;
    align-self: center;
}

.element__header_like:hover {
    opacity: 0.6;
}

.element__header_like_black {
    background-image: url(./images/Union.png);
    background-repeat: no-repeat;
}