.header__logo {
    width: 143px;
    height: 33px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 103px;
        height: 24px;
        padding-left: 27px;
        padding-top: 28px;
    }
}